---
layout: 2018-melbourne/melbourne
title: Melbourne 2018
---

<div id="landingheader">
	<div class="container">

		<div class="row">
			<div class="col-md-12 col-sm-12">
				<div class="row">
					<div class="col-md-4 col-sm-4 mainblock">
						<h2>C&#9702;mp&#9702;se :: Melbourne</h2>
						<p>Monday, Aug. 27, 2018</p>
						<p>
							<a
								href="https://www.google.com.au/maps/place/Swanston+Academic+Bldg,+80%2F445+Swanston+St,+Melbourne+VIC+3000/data=!4m2!3m1!1s0x6ad642cb67a2ef0f:0xc44e87b1e0494746?sa=X&ved=0ahUKEwjwr-v9pK7MAhVBn5QKHSFNBJ0Q8gEILjAD"
								style="color:#FFF">
									RMIT - SAB Building 80, Level 2, Room 7
									<br class="hidden-md hidden-sm" />
									Melbourne, Victoria, Australia 3000
									<br/>
							</a>
						</p>
					</div>
					<div class="col-md-8 col-sm-8">
						<div class="view view-melbourne">&nbsp;</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-4 col-sm-4 unconfblock">
						<h4>
							<a href="/2018-melbourne/cfp/"> C&#9702;mp&#9702;se :: CFP</a>
						</h4>
						<p style="font-size:13px">
						  Our Melbourne 2018 Call For Presentations is closed.

						<p style="font-size:13px" class="hidden-sm">
							<a href="../2018-melbourne/cfp" target="_blank">
								Click here to find out more

							</a>
						</p>
					</div>

					<div class="col-md-4 col-sm-4 block ">
						<div class="submit">
							<p style="margin-bottom:0;"> <!-- for some reason we need to remove the margin here... -->
								<i class="fa fa-star fa-2x"></i>
								<br/>
								<br /> Get the C&#9702;mp&#9702;se :: Melbourne...
								<br/> <br/>
								<a href="http://www.redbubble.com/people/sordina/works/21829253-lambdatram" class="landing-link">
									LambdaTram T-Shirt (and more)</a>
								<br />
							</p>
						</div>
					</div>

				</div>

				<div class="row">

					<div class="col-md-4 col-sm-4 unconfblock">
						<h4> C&#9702;mp&#9702;se :: Past-Conferences</h4>
						<p style="font-size:13px">
							<b>C&#9702;mp&#9702;se :: Conference</b> has run since 2015.<br/>
							Talk and proceedings from past conferences are online:
							<br />
							<br class="hidden-sm" />
							<a href="/2015">2015 New York</a>
							<a href="https://www.youtube.com/watch?v=6klfKLBnz9k&list=PLDFjrbtSUOm7_0pUXwfln1P3qweb1Ol3t">(YouTube)</a>,
							<a href="/2016">2016 New York</a>
							<a href="https://www.youtube.com/watch?v=h2p68JjSUH0&list=PLNoHgLVTxtaqlT4xVx6_39jzcDe-ZF9V2">(YouTube)</a>,
							<a href="/2016-melbourne/day-one-program">2016 Melbourne</a>
							<a href="https://www.youtube.com/watch?v=9dk7_GDNocQ&list=PLNoHgLVTxtaqo1c_V2I-8wkDrCGImb9v5">(YouTube)</a>,
							<a href="/2017">2017 New York</a>.
							<a href="https://www.youtube.com/watch?v=79zzgL75K8Q&list=PLNoHgLVTxtaoolkQo4hLy4ZsA1prUJ51m">(YouTube)</a>,
							<a href="/2017-melbourne/day-one-program">2017 Melbourne</a>
							<a href="https://www.youtube.com/watch?v=Mlbe7d90DoI&list=PLNoHgLVTxtarRJWmMAs3RSy9BbB_TGlgj">(YouTube)</a>,
						</p>
					</div>

					<div class="col-sm-4 block">
						<div class="volunteer">
							<i class="fa fa-star fa-2x"></i> <br />
							<p>
								<br />
								<a class="landing-link" href="/2018-melbourne/speaker-julie-moronuki">
									Keynote speaker - JULIE MORONUKI</a>
								<br />
							</p>
						</div>
					</div>

					<div class="col-md-4 col-sm-4 block">
						<div class="reg">
							<p style="margin-bottom:0;"> <!-- for some reason we need to remove the margin here... -->
								<i class="fa fa-ticket fa-2x"></i>
								<br />
								<br /> Tickets for
								<br />  Compose :: Melbourne 2018
								<a href="https://www.eventbrite.com.au/e/compose-melbourne-2018-tickets-46002911948" class="landing-link" target="_blank">
									<br />  are now on Sale!
								</a>
							</p>
						</div>
					</div>

				</div>

			</div>
		</div>
	</div><!-- row -->
</div><!-- landingheader -->

<section id="about" name="about"></section>

<div id="aboutwrap">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-4 name">
        {% include languages-2018-melbourne.html %}
			</div>
			<div class="col-lg-8 col-md-8 col-sm-8 name-desc">
				<h2 style="margin-top: 0;">C&#9702;mp&#9702;se :: Melbourne</h2>
				<h3>The practice and craft of functional programming</h3>
				<div class="col-lg-6 col-md-6 col-sm-6 words-nomargin">
					<p>
						Compose is a conference for functional programmers, focused on
						technologies such as Haskell, Scala, Clojure, OCaml, F#, SML and
						others.
					</p>
					<p>
						Functional programming has been taken up widely, by industry and
						hobbyists alike. For many of us it has renewed our belief that code
						should be beautiful, and that programming can be as enjoyable as it
						is practical. Compose is about bringing together functional
						programmers of all levels of skill and experience — from technical
						leads to novices, and from long-time hackers to students just getting
						started.
					</p>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6">
					<p>
						Our experiences have shown that the theoretical can be put
						into practice with great success, and that topics once
						considered “advanced” can be made understandable and spread
						widely. For example, type systems, often considered complex,
						can simplify our lives by teaching compilers to do some of our
						reasoning for us.
					</p>
					<p>Compose Conference has been running in New York since 2015.</p>
					<p>C&#9702;mp&#9702;se :: Melbourne, in partnership with <a
         href="http://yowconference.com.au/">YOW! Australia</a>,
                    now brings this experience to Melbourne.</p>
				</div>
			</div>
		</div><!-- /row -->
	</div><!-- /container -->
</div><!-- /aboutwrap -->

<div id="portfoliowrap">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-4 unconfblock">
				<h4> News! </h4>
				<p style="font-size:13px">
					Latest news and announcements!
					<!-- TODO: Add a news page for all posts. -->
				</p>
			</div>

			<div class="col-sm-8 col-xs-12 block">
				<div class="news">
					<table style="margin: auto; width: 100%;">
						{% for post in site.posts limit:5 %}
							{% capture posttime %}{{post.date | date: '%s'}}{% endcapture %}
							{% capture range %}{{'2018-01-01 00:00:00 +1000' | date: '%s'}}{% endcapture %}
							{% if posttime > range %}
							<tr>
								<td style=" text-align: left;">
									<a class="landing-link" style="color: #428bca;" href="{{ post.url }}">{{ post.title }}</a>
								</td>
								<td class="hidden-xs hidden-sm" style="text-align: right;"> {{ post.date | date: "%b %-d, %Y" }} </td>
							</tr>
							{% endif %}
						{% endfor %}
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="sep talk melbourne" data-stellar-background-ratio="0.5" style="background-position: 50% -91.5px;"></div>

<div id="portfoliowrap">

	<div class="container">
		<div class="row mt centered">
			<h1>SCHEDULE</h1>
			<div class="col-lg-3 col-lg-offset-3 col-sm-3 col-sm-offset-3 proc">
				<i class="fa fa-comments"></i>
				<h3>Mon, Aug 27: Conference <small>(Day One)</small></h3>
				<p></p>
			</div>
			<div class="col-lg-3 col-sm-3 proc">
				<i class="fa fa-comments-o"></i>
				<h3>Tue, Aug 28: Unconference <small>(Day Two)</small></h3>
				<p></p>
			</div>
		</div>
	</div>
</div>

<div class="sep portfolio melbourne" data-stellar-background-ratio="0.5" style="background-position: 50% -104px;"></div>

<div id="locations">
	<div class="container">
		<div class="row">
			<div class="col-lg-8-offset-2 centered">
				<h1>Locations</h1>
				<p>RMIT, Melbourne, Victoria, Australia </p>
			</div>
			<div class="col-lg-6 col-lg-offset-3 col-sm-6 col-sm-offset-3 centered">
				<h2>Monday - Presentations</h2>
				<p> Building 80 - 80.02.07 </p>
				<h2>Tuesday - Workshops &amp; Unconference</h2>
				<p> Location TBA </p>
			</div>
		</div>
	</div>
</div>


<hr style="border:1px dotted transparent; " />

<section id="who" name="who"></section>

<div id="committeewrap">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 centered">
					<h2> C&#9702;mp&#9702;se :: Melbourne Organizers</h2>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 ">
				<img src="/assets/img/lambda-tram.png" class="img-responsive" />
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-9">
				<p class="history">
					C&#9702;mp&#9702;se :: Melbourne is organized by the
					C&#9702;mp&#9702;se :: Melbourne Committee.
				</p>
				<p>
					Namely:
						Ken Scambler (Chair),
						Lyndon Maydwell,
						Andy Kitchen,
						Les Kitchen,
						Sharon Holliday,
						Javier Candeira,
						Tushar Pokle.
				</p>
				<p>
					As an activity of the <a href="http://mfpai.org.au/" target="_blank">
						Melbourne Functional Programming Association Inc.
					</a>
				</p>
				<p class="history">
					If you want to get involved in the functional-programming
					community in Melbourne then <a href="mailto:composemel-admin@googlegroups.com">please email us!</a>
				</p>
			</div>
		</div><!-- /row -->
	</div>
</div>

<div id="sponsors">
	<div class="container">
		<div class="row">
			<div class="col-lg-8-offset-2 col-md-8-offset-2 col-sm-8-offset-2 mt">

				<div id="carousel-sponsors" class="carousel slide" data-ride="carousel">

					<!-- Wrapper for slides -->
					<div class="carousel-inner">
						{% for t in site.data.2018-melbourne.sponsors.sponsors %}
							<div class="item mb {% if forloop.first == true %}active{% endif %}">
								<div class="row">
									<div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4">
										<p>&nbsp;<br /></p>
										<p>
											<a href="{{t.link}}"><img src="{{t.img}}" class="img-responsive" /></a>
										</p>
									</div>
									<div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
										<p class="centered">
											<a href="{{t.link}}">{{t.name}}</a> - {{t.by_line}}
										</p>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>

					<!-- Indicators -->
					<ol class="carousel-indicators">
						{% for t in site.data.2018-melbourne.sponsors.sponsors %}
							<li
								data-target="#carousel-sponsors"
								data-slide-to="{{ forloop.index0 }}"
								class="{% if forloop.first == true %}active{% endif %}"></li>
						{% endfor %}
					</ol>

					<!-- Controls -->
					<a class="left carousel-control" href="#carousel-sponsors" role="button" data-slide="prev">
						<span class="fa fa-angle-left"></span>
					</a>
					<a class="right carousel-control" href="#carousel-sponsors" role="button" data-slide="next">
						<span class="fa fa-angle-right"></span>
					</a>
				</div>

			</div><!-- col-lg-8 -->
		</div><!-- row -->
	</div><!-- container -->
</div>

<div id="committeewrap">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 centered">
					<h2> C&#9702;mp&#9702;se Organizers</h2>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 ">
				<img src="http://photos4.meetupstatic.com/photos/event/6/c/c/c/global_177507852.jpeg" class="img-responsive" />
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-9">
				<p class="history">
					C&#9702;mp&#9702;se is organized by the organizers of the
					<a href="http://www.meetup.com/NY-Haskell/">New York Haskell Users Group</a>,
					<a href="/2017/organizers/">namely: Doug Beardsley, Gershom Bazerman, Kat Chuang, Rick Minerich, and Ryan Trinkle.</a> <br/>
				</p>
				<p class="history">
					We welcome more people wanting to get involved as functional
					programming community organizers, and if you'd like to pitch in,
					please write us and let us know!
				</p>
			</div>
		</div><!-- /row -->
	</div>
</div>

<!--

<div id="footer" style="display: block;">
	<div id="footer-inner">
		<div id="footer-auto">

			<div class="col-lg-12 col-md-12 col-sm-12">
				<div class="col-inner-hori">
					<hr />
				</div>
			</div>

			<div class="col-sm-2 col-sm-offset-4">
				<div class="col-inner-hori">
					<p>Photography:</p>
				</div>
			</div>

			<div class="col-sm-6">
				<div class="col-inner-hori">
					<a href="http://i.imgur.com/qItrYQ1.jpg">Skyline</a>
					by
					<a href="https://www.reddit.com/user/seeaich">seeaich</a>
					on
					<a href="https://www.reddit.com/r/melbourne/comments/4gfo0b/cbd_mlb_did_i_do_our_city_justice/">Reddit.</a>
				</div>

				<div class="col-inner-hori">
					Skyline Vector by
					<a href="mailto:renimagerie@gmail.com">Ren Imagery</a>.
				</div>

				<div class="col-inner-hori">
					<a href="https://www.flickr.com/photos/visitmelbourne/12735524883/in/photolist-kpoTRe-kpoRTg-kpqF2d-okVcoM-kpo3dt-kpqFr1-dXiwYy-dXcRAX-kmLBB4-dXcRnt-pZE6Mt-kmQVsi-dX"
						>White Night</a>
					by
					<a href="https://www.flickr.com/photos/visitmelbourne/">Tourism Victoria</a>
					on
					<a href="https://www.flickr.com/">Flickr.</a>
				</div>
			</div>

			<div class="col-lg-12 col-md-12 col-sm-12">
				<div class="col-inner-hori">
					<hr />
				</div>
			</div>

			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<div class="col-inner-hori">
					<a href="http://composeconference.org" class="history">C&#9702;mp&#9702;se :: Conference</a><br />
					The practice and craft of functional programming<br />
					<a href="conduct/index.html">Code of Conduct</a>
				</div>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
				<div class="col-inner-hori">
					<p>
					Aug. 28 - 29, 2017 <br /> Melbourne, Australia
					</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12">
				<div class="col-inner-hori">
					<p>
						<a href="mailto:composemel-admin@googlegroups.com">composemel-admin@googlegroups.com</a>
						<br />
						<a href="mailto:info@composeconference.org">info@composeconference.org</a>
					</p>
				</div>
			</div>
			<div id="social-icons" class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
				<div class="col-inner-hori align-right">
					<a href="mailto:info@composeconference.org" target="_blank" id="mail-icon" class="right">
						<i class="fa fa-envelope fa-2x fa-fw"></i>
					</a>
					<a href="https://twitter.com/composeconf" target="_blank" id="twitter-icon" class="right">
						<i class="fa fa-twitter fa-2x fa-fw"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

-->
