---
layout: compress
---
<!DOCTYPE html>
<html>
  {% include head.html %}
  <body data-spy="scroll" data-offset="0" data-target="#theMenu">
 <div id="wrap">

    {% include 2019/header.html %}

	<div id="landingheader">
		<div class="container">
      <h1>C◦mp◦se NYC 2019</h1>
      <h2>Monday and Tuesday, June 24-25</h2>
      <h2>Details coming soon...</h2>
    </div><! --/row -->
	</div><! --/landingheader-->

  <div class="sep talk" data-stellar-background-ratio="0.5" style="background-position: 50% -91.5px;"></div>

  <section id="who" name="who"></section>
  <div id="committeewrap">
  <div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 centered">
    		<h2>Organizers</h2>
    	</div>
    	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 ">
    		<img src="http://photos4.meetupstatic.com/photos/event/6/c/c/c/global_177507852.jpeg" class="img-responsive" />
    	</div>
    	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-9">
    		<p class="history">
    			C◦mp◦se is organized by the organizers of the <a href="http://www.meetup.com/NY-Haskell/">New York Haskell Users Group</a>, <a href="/2019/organizers/">namely: Doug Beardsley, Gershom Bazerman, Ryan Trinkle, and Kat Chuang.</a> <br/>
    		</p>
    		<p class="history">
    			We welcome more people wanting to get involved as functional programming community organizers, and if you'd like to pitch in, please write us and let us know!
    		</p>
    	</div>
    </div><!-- /row -->
  </div>
  </div>

	{% include 2019/footer.html %}
</div>
  </body>
</html>
